.infoPageParallax {
  margin: 2rem 0;
  width: 100%;
  height: 40vh;
  text-align: center;
  background-image: url('../public/images/utilityImages/bgheropage.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.infoPageParallax div {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(182, 242, 109, 0.1);
}

.infoPageParallax div h2 {
  font-size: 6rem;
  font-weight: bolder;
}
.infoPageParallax div p {
  font-size: 1.2rem;
  font-weight: bold;
}

.infoPageParallax div div a {
  background: #002b2b;
  padding: 0rem 1.2rem;
  border-radius: 20px;
  margin-top: 1rem;
  color: #ffae33;
  transition: all 0.3s ease-in-out;
}

.infoPageParallax div div a:hover {
  background-color: rgba(0, 43, 43, 0.8);
  transition: all 0.3s ease-in-out;
}
